{% extends parent_template %}

{% block content %}
    {% for controller in controllers %}
        {% if controller.getDashboardRoutes() is not empty %}
            <div class="row">
                <div class="col-sm-12">
                    <h3>{{ controller.getUserFriendlyEntityName }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% for route in controller.getDashboardRoutes() %}
                        <a href="{{ path(route.route) }}" class="btn btn-default">{{ route.title }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
