{% extends parent_template %}

{% block content %}
    {% for controllerGroup in controllerGroups %}
        <div class="row">
            <div class="col-sm-12">
                <h3>{{ controllerGroup|first.getDashboardGroupName }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% for controller in controllerGroup %}
                    {% for route in controller.getDashboardRoutes() %}
                        <a href="{{ path(route.route) }}" class="btn btn-default">{{ route.title }}</a>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
