<table class="table table-bordered">
    <thead>
        {% for fieldKey, field in crud_list_data_header %}
            <th>{{ field.label }}</th>
        {% endfor %}
    </thead>
    <tbody class="table-striped">
        {% for row in crud_list_data_rows %}
            <tr>
                {% for field in row %}
                    {{ list_row(field) }}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>